.navigation-header{
        height: auto;
        top: 0;
        background-color: #ab777700;
        overflow: visible;
        visibility: visible;
        transition: none;
        position: relative;
    	left: 0;
    	display: block;
    	width: 100%;
        background:black;
}

.navigation-header .main-header{
		height: 100%;
        overflow: visible;
        margin: auto;
        width: 80.612244898%;
        padding-left: 64px;
        display: flex;
        justify-content: space-between;

}



.navigation-header .first-header-section{
		display: inline-flex;
        max-width: 51%;    
}


.navigation-header .second-header-section{
        display: inline-flex;
        max-width: 51%;
}


.navigation-header a{
  padding: 50px 50px 50px 0px;
  color: white;
   
}

.subnav-content{
        display: none;
        position: absolute;
        left: 10%;
        background-color:  black;
        width: 80%;
        z-index: 1;
}


.subnav-content a:hover{
        color: #1226b0;
}

.subnav:hover .subnav-content{
  display: block;
}

.subnav-content a{
        float: left;
        color: white;
        text-decoration: none;
}

.subnav{
        float: left;
        overflow: hidden;
        padding-top: 50px;
}

.subnav .subnavbtn{
     font-family: inherit;
     font-size: 16px;
     border: none;
     outline: none;
     color: white;
     padding: 20px 24px;   
     line-height: 25px;
     border-radius: 4px;
     margin: 0;
}
