
<div data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">
    <div data-sly-call="${clientLib.css @ categories='header-component'}"/>
</div>

<div data-sly-use.headerField="com.adobe.aem.tutorial.core.models.HeaderComponentModel">
<div class="navigation-header">
  <div class="main-header">
    <div class="first-header-section">
      <a href="${headerField.homePageUrl}" target="_blank">${headerField.homePage}</a>
      <div class="subnav">
        <a href="#">${headerField.courses}</a>
        <div class="subnav-content">
          <sly data-sly-list.subNavigationValue="${headerField.coursesMenu}">
            <a href="${subNavigationValue.coursesUrl}" target="_blank" >${subNavigationValue.couresTitle}</a>
          </sly>
        </div>
      </div>
      <a href="#">${headerField.educator}</a>
    </div>
    <div class="second-header-section">
      <a href="${headerField.myAccountUrl}" target="_blank" >${headerField.myAccountPage}</a>
      <a href="${headerField.loginPageUrl}" target="_blank" >${headerField.loginPage}</a>        
      <a href="${headerField.registerPageUrl}" target="_blank" >${headerField.registerPage}</a>
    </div>
 </div>
</div>
</div>